*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body{
  min-height: 100vh;
  background-color: antiquewhite;

}
.navbar{
  width: 250px; 
  height: 100vh;
  position: fixed;
  background-color: gainsboro;
}
#d1{
  border: 1px solid gray;
  background-color: white;
}
.container{
  max-width: 100%;
}
#myid:hover{
  margin: auto;
  padding: auto;
  z-index: 1;
transform: scale(1.1);
}
#anc{
  text-decoration: none;
  color : black;
}